@charset "UTC-8";

body {
    background: rgb(228, 255, 242);
    padding-top: 100px;
}

body, input, button {
    font-family: 'Lora', serif;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 15px;
    background: rgb(186, 240, 247);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header input {
    width: 100%;
    height: 50px;
    float: left;
    background: rgba(239, 242, 255, 0.75);
    border: none;
    text-indent: 15px;
    box-sizing: border-box;
    padding: 0px 60px 0px 0px;
    color: rgb(0, 145, 145);

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: none;
    outline: none;
    appearance: none;
    
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

::placeholder {
    color: rgb(153, 194, 194);
    opacity: 1;
}



header button {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 15px;
    right: 15px;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: none;
    border: none;
    text-emphasis: bold;
    cursor: pointer;

    color: rgb(214, 228, 245);
    font-size: 2em;
}



ul {
    float: left;
    width: 100%;
    box-sizing: border-box;
    display: block;
    list-style-type: none;
    padding-left: 15px;
    color: rgb(0, 145, 145);
    
}

ul.todo li{
    opacity: 1;
    width: 100%;
    min-height: 50px;
    font-size: 15px;
    line-height: 25px;    
    box-sizing: border-box;
    position: relative;
    text-align: left;
    border-radius: 5px;
    padding: 10px 100px 10px 5px;
    margin: 0 0 15px 0;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0 0 #fff, -10px 0 0 #fff;
    animation: slide-up 0.6s ease;

    -webkit-transition: opacity 600ms linear;
    transition: opacity 600ms linear;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

ul.todo li:last-of-type {
    margin: 0;
}

ul.todo li .buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

ul.todo li .buttons button {
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    background: none;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    
}

ul.todo li .buttons button:last-of-type:before {
    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 0;
    background: rgb(173, 228, 201);
}

ul.todo li .buttons button img {
    height: 15px;
    width: 15px;
}

ul.todo#complete {
    position: relative;
    padding: 90px 0 0 0;
  }
  
  ul.todo#complete:before {
    content: '';
    width: 150px;
    height: 1px;
    background: #d8e5e0;
  
    position: absolute;
    top: 30px;
    left: 50%;
  
    margin: 0 0 0 -75px;
  }
  
  ul.todo#todo:empty:after {
    content: 'Nothing to do yet';
    margin: 15px 0 0 0;
  }
  
  ul.todo#complete:empty:after {
    content: 'Nothing completed yet';
  }
  
  ul.todo#todo:after,
  ul.todo#complete:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: rgb(153, 194, 194);
  }
